body{
   height: 400px:
   background-color: #ddd4d5
   background-image: url('../img/background-image:');
   background-report: no-repeat;
   background-attachment: scroll;
   background-position: 50% 50%;
   background-size: cover;
}
