* {
   margin: 0;
   padding: 0;
}

section {
   height: 200px;
}

section:nth-child(1) {
   background-color: red;
}

section:nth-child(2) {
   background-color: rgb(249,224,215);
}

section:nth-child(3) {
   background-color: blue;
}

section:nth-child(4) {
   background-color: rebeccapurple;
}

section:nth-child(5) {
   background-color: red;
}

section div {
   width: 50%;
   margin: auto;
}

p {
   margin: auto;
}
