* {
   margin: 0;
   padding: 0;
}

section {
   height: 200px;
}

section:nth-child(1) {
   background-color: red;
}

section:nth-child(2) {
   background-color: rgb(249,224,215);
}

section:nth-child(3) {
   width: 100%;
  height: 800px;
  background:
  url('img/background.jpg') no-repeat fixed 50% 50% / cover;
   /* background-color: blue; */
}

section:nth-child(4) {
   height: 3000px;
   background: #ddd4d5 url('img/12793759334_ce9e0787d0_b.jpg') no-repeat fixed 50% 50% / cover;
}

section:nth-child(5) {
   background-color: red;
}

section div {
   width: 50%;
   margin: auto;
}

p {
   margin: auto;
}
